.background {
    background-image: url('img/Back.jpg');
    background-attachment: fixed;
}
.back_fail {
    background-image: url('img/fail.jpg');
}

#signboard {
    color: DarkOrange;
}

.right_side_gallery {
    background-color: transparent;
    float: right;
    width: 650px;
}
.left_side_gallery{
    background-color: transparent;
    float: left;
    width: 1120px;
}

#rigth_color {
    color:#CA9F56;
}

#left_color {
    color:#D1462C;
}

#string_pad {
    margin-bottom: -15px;
}

#pict_pad {
    margin-bottom: 20px;
}


.some-page-wrapper {
  margin: 15px;
  background-color: transparent;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 20px;
}

.blue-column {
  background-color: transparent;
  height: 100px;
}

.green-column {
  background-color: transparent;
  height: 100px;
  margin-left: auto;
}
