{% extends 'base.html' %}
{% block title %}
Answer
{% endblock %}
{% block body %}

<div class='container mt-5'>
	<div class='alert alert-info'>
		<h2>{{ans.name}} </h2>
		<p> Ok {{ans.name}}, lets see who did you meet and who didn't. <p>
		<p>{{ans.prologue}} {{ans.occasion.comment}}<p>
		{%for i in ans.img[:-1].split(',')%}
			<p id="string_pad"><center><samp>{{i[2:-1]}}</samp></center></p>

		{%endfor%}
		<p>{{epilogue}}<p>
	</div>
</div>
	<center><a class='btn btn-warning' href='/you'>One more prediction?</a></center>
{% endblock %}
