{% extends 'base.html' %}
{% block title %}
Genitals
{% endblock %}
{% block body %}
{% if bigest %}
	<center><a href='/answer/{{bigest}}' class='btn btn-success'>Bigest</a>  
		<a href='/answer/{{smollest}}' class='btn btn-success'>Smallest</a>
	</center>
{% else %}
	<div class='container mt-5'>
		<h1 id="signboard"> Gallery </h1>
		<p><h5 id="signboard">No predictions yet</h5></p>
	</div>
{% endif %}
<div class='some-page-wrapper'>
	{% for pair in ans %}
		<div class='row'>
				<div class='column'>
					<div class='blue-column'>
						{% if pair[0] == None %}
							<p></p><h2 id="left_color">On this page more predictions for girls</h2></p>
						{% else %}
							{% for pict in pair[0].img[:-1].split(',') %}
								<h5 id="left_color"><p id="string_pad"><samp>{{pict[2:-1]}}</samp></p></h5>
							{% endfor %}
							<h1 id="rigth_color" >{{pair[0].name}} </h1>
						{% endif %}
					</div>
				</div>
				<div class='column'>
					<div class='green-column'>
						{% if pair[1] == None %}
							<p><h2 id="left_color">On this page more predictions for boys</h2></p>
						{% else %}
							{% for pict in pair[1].img[:-1].split(',') %}
								<h5 id="rigth_color"><p id="string_pad"><samp>{{pict[2:-1]}}</samp></p></h5>
							{% endfor %}
							<h1 id="left_color" >{{pair[1].name}} </h1>
						{% endif %}
					</div>
				</div>
		</div>
	{% endfor %}

</div>

{% endblock %}

